#++++++++++++++++++++++++++++++++++++++++++++++++++++++
#		setup info
#		restart_flag : 0 - off 1 - on
#
#   NOTE: In case of restart_flag = 1, the data_file should
#   contain the name of restart file to be read by code.
#++++++++++++++++++++++++++++++++++++++++++++++++++++++
number_threads 								16
data_file 										NiAl.inp.gz
materials_file 								materials.dat
restart_flag 									0

#++++++++++++++++++++++++++++++++++++++++++++++++++++++
#		Minimization method
#
#		Problem:   	min min F(u,w; T)
#							   u   w
#
# 	u: position of all the atoms
#   w: mean frequency of all the atoms
#
#		method - 0: simultaneously minimizing F wrt to vector U=[u; w]
#   i.e.  
#
#    ___________________
#		|	min  F(U; T)			|
#		|	 U 								|
#		|___________________|
#   
#
#
#		method - 1: loop over iterations, where first minimize wrt
#   position and then minimize over freq. Also, define maxIteration
#		and tolerance
#
#		for iter=0 to N
#		|--> check if change in energy is within tolerance
#		|--> minimization with respect to position keeping freq fixed
#   | 		     _________________________
#   |					|	min  F(u, w_fixed; T) 	|
#   |					|	 u 								      |
#   |					|_________________________|
#   |
#   |--> minimization with respect to freq keeping position fixed
#   | 		     _________________________
#   |					|	min  F(u_fixed, w; T) 	|
#   |					|	 w 								      |
#   |					|_________________________|
#   |
#		end
#
#		method - 2: frequency is fixed at initial value, and minimization
#   is only wrt to position of atoms. Let w_0 is given fixed freq
#    ___________________
#		|	min  F(u, w_0; T)	|
#		|	 u 								|
#		|___________________|
#   
#		method - 3: position is fixed at initial value, and minimization
#   is only wrt to frequency of atoms. Let u_0 is given fixed 
#		position
#    ___________________
#		|	min  F(u_0, w; T)	|
#		|	 w 								|
#		|___________________|
#   
#
#		When minimization_method is set to "1", some additional
#   parameters are required. These are as follows
#
#	  max_iter_min_method
#		maximum number of iterations when minimization is wrt to 
#		position and freq in alternate way. See 
#		minimization_method = 1 explanation above.
#
#		tol_min_method
#   Tolerance to stop the iterations for minimization method = 1.
#
#   NOTE: When method is set to "0", "2", "3", these parameters
#   will not be used, as in these cases it will be simple conjugate
#   gradient minimization.
#++++++++++++++++++++++++++++++++++++++++++++++++++++++
min_method_flag								2
max_iter_min_method 					4
tol_min_method								1.0e-6

#++++++++++++++++++++++++++++++++++++++++++++++++++++++
#		test info
# 	test the input file and produce information 
# 	test_flag:
#
#		0 - compute P.E., Entropy Energy, Electrostatcis energy
# 			and force each cluster site and output data
#
#		1 - test the crossneighborlist for node info, and 
# 			repetitive site data in data handle
#
#		2 - compute the volume of unit cell
#	
#		3 - outputs node data just after reading the input data
#				Output of the node is before we create mesh.
#
#		4 - creates initial mesh and outputs the node and element
#				data.
#
#		5 - computes the initial forces and removes atomistic load
#				and if asked in quasi.ini, removes the residual forces
#
#		6 - collects time required in calculation of various elements
#				of QC code
#
#
#		NOTE: To run test, you need to run the executible test
# 	in build folder. Or alternatively, use script runQuasi.sh
#   and set parameter "runFlag" as 1 in quasi_script_parameters.txt
#   file.
#++++++++++++++++++++++++++++++++++++++++++++++++++++++
test_flag 										6

#++++++++++++++++++++++++++++++++++++++++++++++++++++++
#		temperature related info
#
#		statistics: 0 - zero temperature problem
#   						1 - finte temperature problem
#++++++++++++++++++++++++++++++++++++++++++++++++++++++
temperature 									300.0
statistics 										1
tau 													0.01

#++++++++++++++++++++++++++++++++++++++++++++++++++++++
#		physical constants
#		flag:  1 - use the values from this file
#					 0 - use the default values (actual values of constants)
#++++++++++++++++++++++++++++++++++++++++++++++++++++++
phys_const_flag 							0
boltzman_constant 						1.0
maxplanck_constant 						1.0
electric_constant 						1.0
#electric_constant 						0.0055263488697

#++++++++++++++++++++++++++++++++++++++++++++++++++++++
#		electrostatics flag
#		0 - no    1 - yes
#++++++++++++++++++++++++++++++++++++++++++++++++++++++
electrostatics 								1

#++++++++++++++++++++++++++++++++++++++++++++++++++++++
#		Output directory and output flag
#		flag : 0 - defualt output directory, i.e. inside Build folder
#              see quasi_script_parameters.txt to set the
#							 location of build folder.
#					 1 - output directory provided by this file
#
#		Note : Must put "/" at the end of output-directory name
#++++++++++++++++++++++++++++++++++++++++++++++++++++++
output_flag 									0
output_directory 							/home/prashant/Dropbox/Run/NewQuasi/dummy-Electrostatics/

#++++++++++++++++++++++++++++++++++++++++++++++++++++++
#		initial configuration flag
# 	flag : 0 - initial configuration given by input data file,
# 						 or restart data file
# 				 1 - equilibrate the configuration provided by 
#							 input data file and set it as a 
#              initial configuration
#++++++++++++++++++++++++++++++++++++++++++++++++++++++
initial_config_flag 					1

#++++++++++++++++++++++++++++++++++++++++++++++++++++++
#		indentor info
# 	0 - off 			1 - on
#++++++++++++++++++++++++++++++++++++++++++++++++++++++
indentEnable 									0
radius 												700
constant 											100
displacement 									0.0 		0.0	 		-0.1
position 											0.0 		0.0 		0.0

#++++++++++++++++++++++++++++++++++++++++++++++++++++++
#		void info
# 	0 - off 		1 - on
#++++++++++++++++++++++++++++++++++++++++++++++++++++++
voidEnable       							0
voidCenter       							137.2176 137.2176 137.2176
voidNumParams    							1
voidParams       							10.0
voidType         							C

#++++++++++++++++++++++++++++++++++++++++++++++++++++++
#		loading info
#		flag : -1 - off
#						0 - all atoms
#						1 - boundaries
#
#		X[i] = X{i] + \sum_{j = 1 to 3} F[i][j] * X[j]
#
#		Charge loading info 
#		charge number, 	charge increment, charge location
#++++++++++++++++++++++++++++++++++++++++++++++++++++++
numLoads 											0
boundaryFlag 									1
F1               							0.0000 0.0000 0.0000
F2               							0.0000 0.0000 0.0000
F3               							0.0000 0.0000 0.0000
charge 												0 	1.0 	45.0 	45.0 	100.0

#++++++++++++++++++++++++++++++++++++++++++++++++++++++
#		lattice info
#
#		atomic_mass_flag : 0 - use default values of atomic mass
#											 1 - use values in this file
#
#		numLattice : number of lattices in problem
#		
# 	shift info
#		lattice number shift_x shift_y shift_z core-shell atomic mass
#++++++++++++++++++++++++++++++++++++++++++++++++++++++
atomic_mass_flag 							0
numLattice 										2
shift            							0 0.0 0.0 0.0 -1 	1.0
shift            							1 -1.42935 -1.42935 -1.42935 -1 	1.0

#++++++++++++++++++++++++++++++++++++++++++++++++++++++
#		electro boundary condition
#
#		0 - charge neutralized
#		1 - free surface
# 	2 - specified charge density
#++++++++++++++++++++++++++++++++++++++++++++++++++++++
xBeginElectroBCS 							0 0.0
xEndElectroBCS   							0 0.0
yBeginElectroBCS 							0 0.0
yEndElectroBCS   							0 0.0
zBeginElectroBCS 							0 0.0
zEndElectroBCS   							0 0.0

#++++++++++++++++++++++++++++++++++++++++++++++++++++++
#		potential info and filename
#
#		name 	electrostaticsCutoffRadius 	electrostaticIntegration
#
#		Note: Important to put this section after boundary condition
#					and lattice info
#++++++++++++++++++++++++++++++++++++++++++++++++++++++
potential 										MishinNiAl 		10.0 	0.0

#++++++++++++++++++++++++++++++++++++++++++++++++++++++
#		remove residual forces flag
#		
#		0 - do not remove
#		1 - remove
#++++++++++++++++++++++++++++++++++++++++++++++++++++++
allResidual    								0
xBeginResidual 								1
xEndResidual   								1
yBeginResidual 								1 
yEndResidual   								1
zBeginResidual 								1	
zEndResidual   								1

#++++++++++++++++++++++++++++++++++++++++++++++++++++++
#		quadrature info for phase average calculation
#		1 - quasi harmonic
# 	3 - 3-point quad method
# 	5 - 5-point quad method (Not implemented)
#++++++++++++++++++++++++++++++++++++++++++++++++++++++
quadMethod 										3

#++++++++++++++++++++++++++++++++++++++++++++++++++++++
#		conjugate gradient method
#
#		keep the maxIterations in between 40 and 100. 
#++++++++++++++++++++++++++++++++++++++++++++++++++++++
tolerance        							1.0e-3
maxIterations    							100
debugLevel       							2
lineTolerance    							1.0e-3
lineIterations   							25
remeshTolerance  							0.5

#++++++++++++++++++++++++++++++++++++++++++++++++++++++
#		remesh related flags
#	
#		flag : 0 - use cuttoff number 
#					 1 - use restart number
#++++++++++++++++++++++++++++++++++++++++++++++++++++++
addNodeFlag      							1
addNodeRestartNum 						1
addNodeCutoff    							50

#++++++++++++++++++++++++++++++++++++++++++++++++++++++
#		crossneighbor list flag 
#		NOT USED
#++++++++++++++++++++++++++++++++++++++++++++++++++++++
crossNeighListFlag 						1

#++++++++++++++++++++++++++++++++++++++++++++++++++++++
#		eam flag
#		NOT USED
#++++++++++++++++++++++++++++++++++++++++++++++++++++++
eam_method 										0

#++++++++++++++++++++++++++++++++++++++++++++++++++++++
#		process restart file for defects 
#		0 - off 		1 - on
#++++++++++++++++++++++++++++++++++++++++++++++++++++++
getDefectsFlag   							0
defectCenter     							45.7392 45.7392 45.7392
defectBox        							5.0 5.0 5.0
defectLat        							2.8587